@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import "../node_modules/font-awesome/css/font-awesome.css";
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.App {
  text-align: center;
  background-color: #031E31
}

.card {

    margin: 0 auto;

    float: none;

    margin-bottom: 10px;

}

.card-title {
  font-size: larger;
}

.card-footer{
  background-color: whitesmoke;
}
  .filmcard-body{
    background-color: whitesmoke;
    font-size: medium;
    min-height: 295px;

  }
  .Pfooter {
    font-size: medium;
    text-align: initial;
  }
.Bfooter {
  text-decoration: underline;
}

.h3, h3 {
  font-size: 1.75rem;
  color: antiquewhite;
}

.h2, h2 {
  color: antiquewhite;
  font-size: 1.75rem;
}


#body {
  background-color: #1A181D;
  background: #1A181D;

}

.mapTable {
  width: 50px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #342a28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 768px)
  .navbar-expand-md .navbar-collapse {
    display: inline-flex;
  }

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-logo {
  float: left !important;
  margin-top: -15px !important;
}
.input-group{
  height: 40px;
  padding: 0;
  font-size: 30px;
  margin: 5px 0;
  max-width: 400px;
  alignment: right;
}

.input-group::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

.input-group::-moz-placeholder  {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

#Magnify {
  color:  red;
  background-color: red;
}

.mb-0, .my-0 {
  display: inline-flex;
  font-size: large;
}


.md-form my-0{
  float: left;
}
.input-group-append {
  float: left;
}

.container {
  overflow: hidden;
}

.input-group:-ms-input-placeholder  {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

h5 {
  color: lightslategrey;
  font-family: verdana;
  font-style: italic;
  font-size: 100%;
}

.CaroImg{
  height: 100%;
  widght: 100%;
}

.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  position: relative;
  margin: 0 auto;
  float: none;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 75%;
  height: 400px;
  background-image: linear-gradient(to right,black,dimgrey, dimgrey,black );
  border: lightcoral;
  border: 100px;
}

/*.carousel-inner {*/
/*  !* make sure your .items will get correct height *!*/
/*  height: 80%;*/
/*}*/

.item {
  background-size: cover;
  background-position: 70% 70%;
  width: 100%;
  height: 100%;
}

.item img {
  visibility: hidden;
}

.filmTable {
  margin: 100px;
  background-color:
          #6C757E;
  text-align: center;
}

.fa-ticket-alt {
  color: black;
  padding-right: 5px;
}

.bookButton {
  padding: 10px;
}

.fa-info-circle {
  color: black;
  padding-right: 5px;
}

.infoButton {
  padding: 10px;
}



.cPoster {
  margin-left: 15px;
  margin-bottom: 20px;

}


a {
  color: #1c1918;
  text-decoration: none;
  letter-spacing: 1px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}



.col {
  margin: 0 auto;
float: none;
margin-bottom: 10px;
}