.tab-pane {
font-size: 15px;
}
.tab-pane.active {
font-size: 15px;
}
h1{
    font-size: 50px;
}
a.one{
    font-weight: bold;
}
a.one:link {
  color: red;
}

/* visited link */
a.one:visited {
  color: purple;
}

/* mouse over link */
a.one:hover {
  color: hotpink;
}

/* selected link */
a.one:active {
  color: blue;
}

.tab-pane.active { animation-name: fadeIn; animation-duration: 300ms; animation-timing-function: linear; }

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }